.list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list > input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}

.list > input:focus {
  outline: none;
  border-bottom: 1px solid skyblue;
}

.todolist {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
