* {
  padding: 0;
  margin: 0;
}

body {
  padding: 20px;
}

.App {
  width: 400px;
  margin: 0 auto;
}

.App > section {
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}
